.button-mobile {
    display: none;
}

@media (max-width: 650px){
    /* Manipulação no JS */
    #menu.ativo {
        display: block;
        animation: menuMobile .7s forwards;
    }

    .button-mobile.ativo::before {
        transform: rotate(90deg);
    }
    /* Fim Manipulação no JS */

    /* Animação */
    @keyframes menuMobile {
        from {
            opacity: 0;
            transform: translate3d(30px, 0, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(-30px, 0, 0);
        }       
    }
    /* Fim Animação */

    .button-mobile {
       
     background-color: transparent;
     border: 1px solid white;
     cursor: pointer;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 20px;
     width: 20px;
     padding: 1px;
     
    }
    
   
 .line-1, .line-2, .line-3 {
     background-color:white;
     height: 3px;
     width: 100%;
     transition: all 0.3s ease-in-out;

 }
 
.button-mobile.ativo .line-1 {
    transform: rotate(45deg) translate(5px, 4px);
}

.button-mobile.ativo .line-2 {
    opacity: 0;
    transform: scaleX(0);
}

.button-mobile.ativo .line-3 {
    transform: rotate(-45deg) translate(4px, -6px);
}

#menu {
    display: none;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 2px 0 var(--cor4);
    z-index: 1;
    position: absolute;
}

#menu a {
    color: var(--cor5);
}

.drop-down-menu {
    border: none;
position: sticky;
}
}